<html xmlns:th="http://www.thymeLeaf.org">
<body>
<div align="center">

<h1><b><big><h1><u>BOOKS LIST</u></h1></big></b></h1><b>

</b><b><br></b><b>

</b><a href="/newBook"><b>Add New Book</b></a><b>
	
</b><table border="1" cellpadding="10"><b>

</b><thead><b>

</b><tr><b>

</b><td><b><i><p align="justify">ID</p></i></b></td><b>
</b><td><b><i><p align="justify">BOOK NAME</p></i></b></td><b>
</b><td><b><i><p align="justify">NUMBER OF PAGES</p></i></b></td><b>
</b><td><b><i><p>ACTIONS</p></i></b></td><b>

</b></tr><b>
	
</b></thead><b>

</b><tbody><b>

</b><tr th:each="book : ${book}"><b>
		</b><td th:text="${bookt.id}"><b>id</b></td><b>
		</b><td th:text="${book.bookName}"><b>bookName</b></td><b>
		</b><td th:text="${book.numberOfPages}"><b>numberOfPages</b></td><b>
		</b><td><b>
		</b><a th:href="@{'/editBook/'+${book.id}}"><b>Edit</b></a><b>
		&nbsp;
		</b><a th:href="@{'/deleteBook/'+${book.id}}"><b>Delete</b></a><b>
		</b></td><b>
</b></tr><b>


</b></tbody><b>

</b></table><b>

</b></div><b>
</b></body><b>
</b></html>