<html xmlns:th="http://www.thymeLeaf.org">
<body>
<div align="center">
<h1><b><big>EDITING BOOK</big></b></h1>

<form action="#" th:action="@{/add}" th:object="${book}" method="post">

<table>

<tr>
<td>Id:</td>
<td><input type="number" th:field="*{id}" readonly="readonly"/> </td>
</tr>

<tr>
<td>Book Name:</td>
<td><input type="text" th:field="*{bookName}"/> </td>
</tr>

<tr>
<td>Number Of Pages:</td>
<td><input type="text" th:field="*{numberOfPages}"/> </td>
</tr>

<tr>
<td colspan="2"><button type="submit">UPDATE</button></td>
</tr>

</table>

</form>

</div>
</body>
</html>